.container-margin {
    margin-top: 20px;
}

.mapimg {
    width: 400px;
}

.ui.menu {
    border-radius: 0px !important;
    height: 50px;
}

.collapse {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
}

.ui.grid>.row {
    padding:  0;
}

.r-space {
    margin-left: 2em;
}