ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: transparent;
}

.active {
    background-color: transparent;
    float: left;
}

.right{
    float: right;
}

#main{
    width: 100%;
    height: 700;
}