ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    width: 98%; 
    z-index: 1;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

a:hover { 
    color: grey;
}

.active {
    background-color: transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.right{
    float: right;
}

.first-container {
    position: relative;
    text-align: center;
    margin:0px;
    padding: 0px;
}

#main{
    width: 100%;
}

.main {
    width: 100%;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: 800;
    line-height: 6vh;
}

.add {
    position: absolute;
    top: 82%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.find {
    position: absolute;
    top: 82%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.second-container {
    height: 400px;
    background-color: white;
}

/* .third-container {
    background-color:lightgray
} */

.description-container {
    height: 150px;
    
}

.p-description {
    margin-left: 100px;
    margin-right: 100px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

#dividerone{
    margin-top: 30px;
    padding: 20px;
}

#description{
    padding: 20px;
}

div.row {
    padding: 0;
}

.phone {
    padding: 20px;

#example {
    margin-left: 100px;
}