ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    width: 98%; 
    z-index: 1;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

a:hover { 
    color: grey;
}

.active {
    background-color: transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.right{
    float: right;
}

#main{
    width: 100%;
    position:relative;
    top: 0px;
    background-color: black;
}

.second-container {
    height: 400px;
    background-color: white;
}

.third-container {
    height: 400px;
    background-color:lightgray
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}